.Pagination {
	display: inline-block;
}

.Pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.Pagination a.active {
  background-color: green;
  color: white;
  border: 1px solid #4CAF50;
}

.Pagination a:hover:not(.active) {
	background-color: #ddd;
}

.Footer {
  flex-shrink: 0;
  text-align: center;
  background-color: rgb(66, 63, 63);
  color: white;
}
